/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ============== My CSS ================ */

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:#aad4cf;
}

main {
	background-color: white;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}


h1 {
	font-size: 4rem;
	color: white;
	margin-bottom: 2rem;
	text-align: center;
}

header {
    position: relative;
    text-align: center;
}

header h1 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 20rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.h2-img {
	float: left;
	width: 200px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.life {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}

.facts {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.facts-list{
	margin-top: 1rem;
	list-style: circle;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}

.contact {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}

.contact form{
	display: flex;
	flex-direction: column;
}

.contact label{
	margin: 0.5rem 0 0.25rem;
}

.contact textarea{
	resize: vertical;
}

.radio-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact input,
.contact textarea {
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}




















button {
    background-color: green;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
}